<h1 Style="color:red">Udta Gabru Insult Generator </h1>
<a href="/udta_gabru/insults" style="margin:100px 0 0 400px">
<%= image_tag("u.jpg", :alt => "u feed")%>
</a>
<p>Find me in app/views/udta_gabru/index.html.erb</p>
